<div class="card">
  <div class="game_page_title">{{ game.name }}</div>
  <div>
    <img mat-card-image [src]="game.imageCoverUrl" class="" [alt]="game.name" />

    <div style="display: flex; flex-direction: row; align-items: flex-start">
      <div>
        <div class="subtitle">Data de lançamento: {{ game.releaseDate | date : "shortDate" : "" : "pt-BR" }}</div>
        <div class="subtitle">Desenvolvido por: {{ game.developer }}</div>
        <div class="subtitle">Publicado por: {{ game.publisher }}</div>
        <div class="subtitle">Plataformas: {{ game.platforms }}</div>
        <div class="subtitle">Gênero: {{ game.genre }}</div>
      </div>
      <div class="description">{{ game.description }}</div>
    </div>
  </div>
</div>
