<mat-toolbar *ngIf="isAuthenticated()" class="header">
  <div class="title">
    <a routerLink="/home">
      <span class="title-header">Game Review</span>

      <mat-icon
        style="margin-top: 4px"
        aria-label="Example home icon"
        fontIcon="home"
        >sports_esports</mat-icon
      >
    </a>
  </div>

  <div class="button-games">
    <button mat-icon-button routerLink="/games">GAMES</button>
  </div>

  <div class="button-logout">
    <button (click)="logout()" mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
