img {
  width: 7em;
  height: 7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  width: 20rem;
}

.container {
  width: 500px;
  min-height: 370px;
  padding: 25px 40px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(63, 100, 246);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../../../../assets/img/retro-game-synthwave.jpg") no-repeat;
  background-size: cover;
}

.btn-vermelho {
  width: 100%;
  height: 60px;
  margin: 25px 0 0;
  border: 0;
  border-radius: 10px;
  background: #de1d43;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;

  &:disabled {
    cursor: no-drop;
    background: darken(#DD0330, 20%);
  }
}
