mat-card {
  height: 100%;
  width: 40%;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.game-cover {
  height: 158px;
  width: 288px;
  background: black;
  margin-right: 10px;
}

.listagem {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.game_list_title{
  justify-content: flex-start;
  font-weight: bold;
  font-size: 20px;
}
