<form class="form mat-elevation-z8" [formGroup]="gameForm">
  <h1>Adicionando novo jogo</h1>
  <div
    style="display: flex; flex-direction: row; justify-content: space-between"
  >
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input
        matInput
        placeholder="Nome do jogo"
        formControlName="name"
        name="name"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Plataformas</mat-label>
      <mat-select formControlName="platform" multiple>
        <mat-option *ngFor="let platform of platforms" [value]="platform.id">{{
          platform.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    style="display: flex; flex-direction: row; justify-content: space-between"
  >
    <mat-form-field style="width: 45%">
      <mat-label>Desenvolvedora</mat-label>
      <input
        matInput
        placeholder="Desenvolvedora"
        formControlName="developer"
        name="developer"
      />
    </mat-form-field>
    <mat-form-field style="width: 45%">
      <mat-label>Publisher</mat-label>
      <input
        matInput
        placeholder="Publisher"
        formControlName="publisher"
        name="publisher"
      />
    </mat-form-field>
  </div>

  <div
    style="display: flex; flex-direction: row; justify-content: space-between"
  >
    <mat-form-field appearance="fill">
      <mat-label>Gênero</mat-label>
      <mat-select formControlName="genre" multiple>
        <mat-option *ngFor="let genre of genres" [value]="genre.id">{{
          genre.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Data de Lançamento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="releaseDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div style="display: flex; flex-direction: row; align-items: center">
    <mat-label>
      Escolha uma imagem para listagem (PNG):
      <input
        type="file"
        accept="image/png"
        (change)="onImageListChange($event)"
        id="fileInputList"
        #fileInputList
        style="display: none"
      />
    </mat-label>
    <div>
      <button
        class="image"
        mat-mini-fab
        color="primary"
        (click)="fileInputList.click()"
      >
        <mat-icon>image</mat-icon>
      </button>
    </div>
  </div>
  <div style="display: flex; flex-direction: row; align-items: center">
    <mat-label>
      Escolha uma imagem para capa (JPG/JPEG):
      <input
        type="file"
        accept="image/jpeg"
        (change)="onImageCoverChange($event)"
        style="display: none"
        id="fileInputCover"
        #fileInputCover
      />
    </mat-label>
    <div>
      <button
        class="image"
        mat-mini-fab
        color="primary"
        (click)="fileInputCover.click()"
      >
        <mat-icon>image</mat-icon>
      </button>
    </div>
  </div>
  <mat-form-field class="full-width">
    <mat-label>Descrição</mat-label>
    <input
      matInput
      placeholder="Descrição"
      formControlName="description"
      name="description"
    />
    <!-- <mat-error *ngIf="gameForm.get('description')?.invalid">{{
      errorValidDescription()
    }}</mat-error> -->
  </mat-form-field>
  <div>
    <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
    <button
      mat-raised-button
      (click)="onSubmit()"
      color="primary"
    >
      Adicionar
    </button>
  </div>
</form>
