<form class="form mat-elevation-z10" [formGroup]="gameForm">
  <h1>Cadastrar novo jogo</h1>
  <div
    style="display: flex; flex-direction: row; justify-content: space-between"
  >
    <mat-form-field style="width: 44rem" class="full-width">
      <mat-label>Nome</mat-label>
      <input
        matInput
        placeholder="Nome do jogo"
        formControlName="name"
        name="name"
      />
    </mat-form-field>
  </div>

  <div
    style="display: flex; flex-direction: row; justify-content: space-between"
  >
    <mat-form-field style="width: 45%">
      <mat-label>Desenvolvedora</mat-label>
      <input
        matInput
        placeholder="Desenvolvedora"
        formControlName="developer"
        name="developer"
      />
    </mat-form-field>
    <mat-form-field style="width: 45%">
      <mat-label>Publisher</mat-label>
      <input
        matInput
        placeholder="Publisher"
        formControlName="publisher"
        name="publisher"
      />
    </mat-form-field>
  </div>

  <div
    style="display: flex; flex-direction: row; justify-content: space-between"
  >
    <mat-form-field appearance="fill">
      <mat-label>Gênero</mat-label>
      <mat-select formControlName="genre" multiple>
        <mat-option *ngFor="let genre of genres" [value]="genre.id">{{
          genre.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Plataformas</mat-label>
      <mat-select formControlName="platform" multiple>
        <mat-option *ngFor="let platform of platforms" [value]="platform.id">{{
          platform.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Data de Lançamento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="releaseDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div
    style="
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    "
  >
    <div>
      <mat-label>
        Imagem para listagem (PNG):
        <input
          type="file"
          accept="image/png"
          (change)="onImageListChange($event)"
          id="fileInputList"
          #fileInputList
        />
      </mat-label>
    </div>
    <div>
      <mat-label>
        Imagem para capa (JPG/JPEG):
        <input
          type="file"
          accept="image/jpeg"
          (change)="onImageCoverChange($event)"
          id="fileInputCover"
          #fileInputCover
        />
      </mat-label>
    </div>
  </div>
  <mat-form-field style="width: 44rem; margin-top: 1rem" class="full-width">
    <mat-label>Descrição</mat-label>
    <textarea
      matInput
      placeholder="Descrição"
      formControlName="description"
      name="description"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="6"
    >
    </textarea>
    <!-- <mat-error *ngIf="gameForm.get('description')?.invalid">{{
      errorValidDescription()
    }}</mat-error> -->
  </mat-form-field>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close (click)="cancel()">
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      cdkFocusInitial
      [disabled]="gameForm.invalid"
    >
      Adicionar
    </button>
  </mat-dialog-actions>
</form>
