.form {
  width: 40%;
  margin: auto;
  padding: 4rem 2rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.full-width {
  width: 60%;
  margin-bottom: 1rem;
}

button {
  width: 100%;
  margin: .5rem auto;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.image {
  background-color: #007bff;
  color: #fff;
  font-size: 12px;
  padding: 13px 10px 12px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.image:hover {
  background-color: #0069d9;
}
